<label class="mr-sm-2" for="inlineFormCustomSelect">Widget Type</label>
      <div class="dropdown">
          <span>Mouse over me</span>
          <div class="dropdown-content">
              <ul class="dropdown-menu">
                  <li><a routerLink="/data-table" routerLinkActive="active">Table</a></li>
                  <li><a href="#">Tab</a></li>
                  <li><a href="#">Menu</a></li>
                  <li><a href="#">Grid</a></li>
                  <li><a href="#">Field</a></li>
                  <li><a href="#">Container</a></li>
                </ul>
          </div>
        </div>
