<table id="tableid" class="table table-bordered table-striped table-hover table-condensed" cellspacing="0" width="100%" data-resizable="true">
    <caption class="octaneTableHeader">Total Open A/R:
        <span></span><span class="glyphicon glyphicon-print controls" ng-click="hideControl($event, $scope)"></span><span class="glyphicon glyphicon-search controls"
            ng-click="hideSearch($event, $scope)"></span><span class="controls" ng-click="showAll($event, $scope)">All</span><span class="controls" ng-click="showOpen($event, $scope)">Open</span></caption>
    <thead>
        <tr>
            <th class="app-datagrid-header-cell ui-resizable id">#</th>
            <th class="app-datagrid-header-cell ui-resizable">#</th>
            <th class="app-datagrid-header-cell ui-resizable">#</th>            
        </tr>
        <tr id="filterrow">
            <th class="app-datagrid-header-cell ui-resizable id">#</th>
            <th class="app-datagrid-header-cell ui-resizable">#</th>
            <th class="app-datagrid-header-cell ui-resizable">#</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>